<div class="content">
    <div class="pagination" *ngIf="(loading$ | async) === false">
        <mat-paginator #paginator
               (page)="handlePageEvent($event)"
               [length]="(pageLength$ | async)"
               [pageSize]="12"
               [showFirstLastButtons]="false"
               [pageIndex]="(pageIndex$ | async)">
        </mat-paginator>

    </div>
    <div>
        <div *ngIf="loading$ | async">
            <mat-spinner></mat-spinner>
        </div>
        <div class="list" *ngIf="(loading$ | async) === false">
            <mat-card *ngFor="let item of listMissingPerson" (click)="details(item)">
                <img mat-card-image [src]="item.urlFoto ?? 'https://desaparecidos.pjc.mt.gov.br/assets/img/sem-foto.svg'" alt="Photo">
                <mat-card-content>
                    <div style="text-align: center;">
                        <h1>{{ item.nome }}</h1>

                        <div class="info">
                            <div style="line-height: 5px;">
                                <p>{{ item.idade }} Anos</p>
                                <p>{{ item.sexo | titlecase }}</p>
                            </div>

                            <div style="line-height: 21px;">
                                <span><b>Data: </b></span><br>
                                <span>{{ item.ultimaOcorrencia.dtDesaparecimento | date }}</span>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>