<div class="content">
    <div class="pagination">
        <p>Pagination</p>
    </div>
    <div class="list">
        <mat-card>
            <img mat-card-image src="https://desaparecidos.pjc.mt.gov.br/assets/img/sem-foto.svg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <div style="text-align: center;">
                    <h1>Calabreso da Silva</h1>

                    <div class="info">
                        <div style="line-height: 5px;">
                            <p>26 Anos</p>
                            <p>Masculino</p>
                        </div>

                        <div style="line-height: 21px;">
                            <span><b>Data: </b></span><br>
                            <span>31/10/2023</span>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card>
            <img mat-card-image src="https://desaparecidos.pjc.mt.gov.br/assets/img/sem-foto.svg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <div style="text-align: center;">
                    <h1>Calabreso da Silva</h1>

                    <div class="info">
                        <div style="line-height: 5px;">
                            <p>26 Anos</p>
                            <p>Masculino</p>
                        </div>

                        <div style="line-height: 21px;">
                            <span><b>Data: </b></span><br>
                            <span>31/10/2023</span>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card>
            <img mat-card-image src="https://desaparecidos.pjc.mt.gov.br/assets/img/sem-foto.svg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <div style="text-align: center;">
                    <h1>Calabreso da Silva</h1>

                    <div class="info">
                        <div style="line-height: 5px;">
                            <p>26 Anos</p>
                            <p>Masculino</p>
                        </div>

                        <div style="line-height: 21px;">
                            <span><b>Data: </b></span><br>
                            <span>31/10/2023</span>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card>
            <img mat-card-image src="https://desaparecidos.pjc.mt.gov.br/assets/img/sem-foto.svg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <div style="text-align: center;">
                    <h1>Calabreso da Silva</h1>

                    <div class="info">
                        <div style="line-height: 5px;">
                            <p>26 Anos</p>
                            <p>Masculino</p>
                        </div>

                        <div style="line-height: 21px;">
                            <span><b>Data: </b></span><br>
                            <span>31/10/2023</span>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card>
            <img mat-card-image src="https://desaparecidos.pjc.mt.gov.br/assets/img/sem-foto.svg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <div style="text-align: center;">
                    <h1>Calabreso da Silva</h1>

                    <div class="info">
                        <div style="line-height: 5px;">
                            <p>26 Anos</p>
                            <p>Masculino</p>
                        </div>

                        <div style="line-height: 21px;">
                            <span><b>Data: </b></span><br>
                            <span>31/10/2023</span>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card>
            <img mat-card-image src="https://desaparecidos.pjc.mt.gov.br/assets/img/sem-foto.svg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <div style="text-align: center;">
                    <h1>Calabreso da Silva</h1>

                    <div class="info">
                        <div style="line-height: 5px;">
                            <p>26 Anos</p>
                            <p>Masculino</p>
                        </div>

                        <div style="line-height: 21px;">
                            <span><b>Data: </b></span><br>
                            <span>31/10/2023</span>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <img mat-card-image src="https://desaparecidos.pjc.mt.gov.br/assets/img/sem-foto.svg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <div style="text-align: center;">
                    <h1>Calabreso da Silva</h1>

                    <div class="info">
                        <div style="line-height: 5px;">
                            <p>26 Anos</p>
                            <p>Masculino</p>
                        </div>

                        <div style="line-height: 21px;">
                            <span><b>Data: </b></span><br>
                            <span>31/10/2023</span>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card>
            <img mat-card-image src="https://desaparecidos.pjc.mt.gov.br/assets/img/sem-foto.svg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <div style="text-align: center;">
                    <h1>Calabreso da Silva</h1>

                    <div class="info">
                        <div style="line-height: 5px;">
                            <p>26 Anos</p>
                            <p>Masculino</p>
                        </div>

                        <div style="line-height: 21px;">
                            <span><b>Data: </b></span><br>
                            <span>31/10/2023</span>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card>
            <img mat-card-image src="https://desaparecidos.pjc.mt.gov.br/assets/img/sem-foto.svg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <div style="text-align: center;">
                    <h1>Calabreso da Silva</h1>

                    <div class="info">
                        <div style="line-height: 5px;">
                            <p>26 Anos</p>
                            <p>Masculino</p>
                        </div>

                        <div style="line-height: 21px;">
                            <span><b>Data: </b></span><br>
                            <span>31/10/2023</span>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card>
            <img mat-card-image src="https://desaparecidos.pjc.mt.gov.br/assets/img/sem-foto.svg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <div style="text-align: center;">
                    <h1>Calabreso da Silva</h1>

                    <div class="info">
                        <div style="line-height: 5px;">
                            <p>26 Anos</p>
                            <p>Masculino</p>
                        </div>

                        <div style="line-height: 21px;">
                            <span><b>Data: </b></span><br>
                            <span>31/10/2023</span>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card>
            <img mat-card-image src="https://desaparecidos.pjc.mt.gov.br/assets/img/sem-foto.svg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <div style="text-align: center;">
                    <h1>Calabreso da Silva</h1>

                    <div class="info">
                        <div style="line-height: 5px;">
                            <p>26 Anos</p>
                            <p>Masculino</p>
                        </div>

                        <div style="line-height: 21px;">
                            <span><b>Data: </b></span><br>
                            <span>31/10/2023</span>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card>
            <img mat-card-image src="https://desaparecidos.pjc.mt.gov.br/assets/img/sem-foto.svg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <div style="text-align: center;">
                    <h1>Calabreso da Silva</h1>

                    <div class="info">
                        <div style="line-height: 5px;">
                            <p>26 Anos</p>
                            <p>Masculino</p>
                        </div>

                        <div style="line-height: 21px;">
                            <span><b>Data: </b></span><br>
                            <span>31/10/2023</span>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>